/* FORMULARIO LOGIN */

/* boton */
.btn-ingresar {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 150px;
}

/* BODY */
.contenido-body {
    padding-bottom: 60px;
}

/* FOOTER */
.footer {
    background-color: rgba(14, 14, 14, 0.95); /* Fondo oscuro semitransparente */
    color: #e8e8e8; /* Texto blanco */
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%; /* Ocupa todo el ancho de la página */
    text-align: center;
    font-size: 0.9rem;
    z-index: 10;
}

.footer a {
    color: #e8e8e8; /* Enlaces en blanco */
    margin: 0 0.5rem;
}

.footer a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}
